#board-board {
  postition: absolute;
  left: 0;
  top: 0;
}

.board-row {
  display: block;
}

.board-column {
  position: relative;
  height: 2em;
  width: 2em;
  display: inline-block;
  text-align: center;
}

.board-letterholder {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

div {
  border: 1px solid black;
}

button {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
